.DataGrid{
	border-collapse: collapse; 
	font-size: 12px;
	border: 1px solid #778899;
}

.DataGrid th{background:#87CEEB;border:1px solid #bbbec3;height:20px;text-align: center; font:bold 14px/28px simsun;}

.DataGrid td{
	border: 1px solid #E6E6FA;
	padding: 4px 3px 2px 3px;
}

.DataGrid a{
	text-decoration: none;
	color: black;
}

.DataGrid a:hover{
	color: blue;
}

.DataGrid tr:hover { background:#f1f1f1; cursor:pointer;}

.DataGrid .row_active{
	background-color: #E0FFFF;
}

.DataGrid .th_arrow_up{
	background:url(arrow_up.png) no-repeat #87CEEB;
}

.DataGrid .th_arrow_down{
	background:url(arrow_down.png) no-repeat #87CEEB;
}